@model MVC_Hamburger.Models.Concrete.EkstraMalzeme

@{
    Layout = "_AdminLayout";
}
<div class="hero_area text-white">
    <div class="bg-box">
        <img src="~/images/hero-bg-sade.jpg" alt="">
    </div>
<div class="row ml-5">
    <div class="col-md-4">
            <h1 style="color:white">Ekstra Malzeme Ekle</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KategoriID" class="control-label">Kategori</label>
                <select asp-for="KategoriID" class ="form-control" asp-items="ViewBag.KategoriID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-warning" />
            </div>
        </form>
            <a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
    </div>
</div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
