@model MVC_Hamburger.Models.Concrete.Kategori

@{
    Layout = "_AdminLayout";
}

<h1 class="bg-dark text-white m-0">Detaylar</h1>

<div class="bg-dark text-white m-0">
    <dl class="row m-0">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
    </dl>
</div>
<div class="bg-dark text-white m-0">
    <a asp-action="Edit" asp-route-id="@Model?.KategoriID" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-warning">Listeye Geri Dön</a>
</div>
